[submodule "wp"]
	path = wp
	url = git://github.com/WordPress/WordPress.git
[submodule "content/plugins/swifttype-search"]
	path = content/plugins/swifttype-search
	url = https://github.com/wp-plugins/swiftype-search.git
[submodule "content/themes/themefoundry-make"]
	path = content/themes/themefoundry-make
	url = git@github.com:thethemefoundry/make.git
[submodule "content/plugins/getty-images"]
	path = content/plugins/getty-images
	url = git@github.com:wp-plugins/getty-images.git
